In [3]:
import os

In [4]:
os.listdir()

['walmart-products.csv',
 '.DS_Store',
 'winequality-red.csv',
 '.ipynb_checkpoints',
 'winequality_001.ipynb']

In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('winequality-red.csv')

In [7]:
df.head(2)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.0,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.0,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5

In [8]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [9]:
df.tail()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [9]:
df.sample(5)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
940,9.6,0.33,0.52,2.2,0.074,13.0,25.0,0.99509,3.36,0.76,12.40,7
648,8.7,0.48,0.30,2.8,0.066,10.0,28.0,0.99640,3.33,0.67,11.20,7
1227,9.0,0.58,0.25,2.0,0.104,8.0,21.0,0.99769,3.27,0.72,9.60,5
1003,6.8,0.36,0.32,1.8,0.067,4.0,8.0,0.99280,3.36,0.55,12.80,7
1521,6.9,0.48,0.20,1.9,0.082,9.0,23.0,0.99585,3.39,0.43,9.05,4

In [10]:
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [12]:
df.shape

(1599, 12)

In [13]:
df.size

19188

In [14]:
df.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

In [15]:
df.columns.tolist()

['fixed acidity',
 'volatile acidity',
 'citric acid',
 'residual sugar',
 'chlorides',
 'free sulfur dioxide',
 'total sulfur dioxide',
 'density',
 'pH',
 'sulphates',
 'alcohol',
 'quality']

In [16]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [17]:
df.loc[1]

fixed acidity            7.8000
volatile acidity         0.8800
citric acid              0.0000
residual sugar           2.6000
chlorides                0.0980
free sulfur dioxide     25.0000
total sulfur dioxide    67.0000
density                  0.9968
pH                       3.2000
sulphates                0.6800
alcohol                  9.8000
quality                  5.0000
Name: 1, dtype: float64

In [18]:
df.loc[1:3]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6

In [19]:
df.loc[1,'fixed acidity']

7.8

In [20]:
df.loc[3,'chlorides']

0.075

In [21]:
df.loc[4,'alcohol']

9.4

In [25]:
df.loc[0:1, ['chlorides', 'density']]

   chlorides  density
0      0.076   0.9978
1      0.098   0.9968

In [22]:
df.loc[2:3, ['residual sugar','pH']]

   residual sugar    pH
2             2.3  3.26
3             1.9  3.16

In [ ]:
##ILOC

In [29]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [ ]:
##Use iloc to access the value in the 3rd row and 2nd column (corresponding to volatile acidity in row 3).

In [23]:
df.iloc[2,1]

0.76

In [24]:
# Use iloc to retrieve the 4th row (all values for fixed acidity, volatile acidity, etc.).

In [25]:
df.iloc[3,:]

fixed acidity           11.200
volatile acidity         0.280
citric acid              0.560
residual sugar           1.900
chlorides                0.075
free sulfur dioxide     17.000
total sulfur dioxide    60.000
density                  0.998
pH                       3.160
sulphates                0.580
alcohol                  9.800
quality                  6.000
Name: 3, dtype: float64

In [26]:
# Use iloc to access the 6th column (likely free sulfur dioxide) for all rows.

In [27]:
df.iloc[:,5]

0       11.0
1       25.0
2       15.0
3       17.0
4       11.0
        ...
1594    32.0
1595    39.0
1596    29.0
1597    32.0
1598    18.0
Name: free sulfur dioxide, Length: 1599, dtype: float64

In [28]:
# Use iloc to access the first 3 rows.

In [29]:
df.iloc[0:3]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5

In [30]:
# Use iloc to select only the 1st, 3rd, and 5th columns.

In [31]:
df.iloc[[0,2,4]]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [32]:
# Use iloc to access rows 2 to 5 and columns 3 to 6 (slice both rows and columns).

In [33]:
df.iloc[2:5,3:7]

   residual sugar  chlorides  free sulfur dioxide  total sulfur dioxide
2             2.3      0.092                 15.0                  54.0
3             1.9      0.075                 17.0                  60.0
4             1.9      0.076                 11.0                  34.0

In [34]:
# Non-Sequential Rows and Columns
# Use iloc to access rows at index 0, 2, and 4, and columns 1, 3, and 5.

In [35]:
df.iloc[[0,2,4],[1,2,5]]

   volatile acidity  citric acid  free sulfur dioxide
0              0.70         0.00                 11.0
2              0.76         0.04                 15.0
4              0.70         0.00                 11.0

In [37]:
# Counting - Count

In [38]:
df.head(5)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [39]:
# 1. Using count()
# How many non-null values are there in each column of the dataset?
# How many non-null values are there in the column quality?

In [40]:
df.count()

fixed acidity           1599
volatile acidity        1599
citric acid             1599
residual sugar          1599
chlorides               1599
free sulfur dioxide     1599
total sulfur dioxide    1599
density                 1599
pH                      1599
sulphates               1599
alcohol                 1599
quality                 1599
dtype: int64

In [41]:
df['quality'].count()

1599

In [42]:
# 2. Using size
# What is the total number of elements (rows × columns) in the dataset?
# How many total elements are present in the first 5 rows of the dataset?

In [43]:
df.size

19188

In [44]:
df.loc[0:4].size

60

In [45]:
#  Using value_counts()
# How many times does each unique value appear in the quality column?
# What is the frequency distribution of the alcohol column values in the first 5 rows?
# Which pH value appears most frequently in the dataset?

In [46]:
df['quality'].value_counts()

quality
5    681
6    638
7    199
4     53
8     18
3     10
Name: count, dtype: int64

In [47]:
df.loc[0:4,'alcohol'].value_counts()

alcohol
9.8    3
9.4    2
Name: count, dtype: int64

In [48]:
df['pH'].value_counts().max()

57

In [57]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [ ]:
#Null Handling

In [ ]:
# sna() and isnull() : 

# Question 1: Using isna() or isnull(), find out how many missing values are in each column of wine_df?

# Question 2: Which row has the most missing values? Write code to find this.
missing_per_row = wine_df.isna().sum(axis=1)
most_missing_row = missing_per_row.idxmax()

In [59]:
df.isna().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [65]:
missing_per_row = df.isna().sum(axis=1)
most_missing_row = missing_per_row.idxmax()
print(most_missing_row)

0

In [ ]:
# fillna() Practice:
    
# Question 3: Fill all missing values in the 'fixed_acidity' column with the mean of existing values.

# Question 4: Fill missing values in 'volatile_acidity' with the previous valid value (forward fill).

In [76]:
df['fixed acidity'].fillna(df['fixed acidity'].mean())

0        7.4
1        7.8
2        7.8
3       11.2
4        7.4
        ...
1594     6.2
1595     5.9
1596     6.3
1597     5.9
1598     6.0
Name: fixed acidity, Length: 1599, dtype: float64

In [78]:
df['volatile acidity'].fillna(method='ffill')

fill_dict = {
    'fixed_acidity': wine_df['fixed_acidity'].median(),
    'chlorides': 0
}
wine_df = wine_df.fillna(value=fill_dict).fillna(wine_df.mean())

0       0.700
1       0.880
2       0.760
3       0.280
4       0.700
        ...
1594    0.600
1595    0.550
1596    0.510
1597    0.645
1598    0.310
Name: volatile acidity, Length: 1599, dtype: float64

In [ ]:
# notnull() Practice:
#  Question 6: How many complete cases (rows with no missing values) are there in the dataset?

In [80]:
complete_cases = df.notnull().all(axis=1).sum()
print(complete_cases)

1599

In [ ]:
# Question 8: Remove all rows that have any missing values.

# Question 9: Remove only the rows where 'quality' is missing.
# Hint: Look up the 'subset' parameter

In [82]:
df.dropna()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [83]:
df.dropna(subset=['quality'])

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [ ]:
# Question 1: What are all the unique values in the 'quality' column, including NULL values?
# Expected output should show: [5, 6, None]

# Question 2: How many unique fixed_acidity values are there (including NULL)?
# Hint: Use len() with unique()

# Question 3: Create a list of all unique alcohol percentages sorted in ascending order.
# Hint: Combine unique() with sort()

In [84]:
df['quality'].unique()

array([5, 6, 7, 4, 8, 3])

In [91]:
len(df['fixed acidity'].unique())

96

In [92]:
sorted(df['alcohol'].unique())

[8.4,
 8.5,
 8.7,
 8.8,
 9.0,
 9.05,
 9.1,
 9.2,
 9.23333333333333,
 9.25,
 9.3,
 9.4,
 9.5,
 9.55,
 9.56666666666667,
 9.6,
 9.7,
 9.8,
 9.9,
 9.95,
 10.0,
 10.0333333333333,
 10.1,
 10.2,
 10.3,
 10.4,
 10.5,
 10.55,
 10.6,
 10.7,
 10.75,
 10.8,
 10.9,
 11.0,
 11.066666666666698,
 11.1,
 11.2,
 11.3,
 11.4,
 11.5,
 11.6,
 11.7,
 11.8,
 11.9,
 11.95,
 12.0,
 12.1,
 12.2,
 12.3,
 12.4,
 12.5,
 12.6,
 12.7,
 12.8,
 12.9,
 13.0,
 13.1,
 13.2,
 13.3,
 13.4,
 13.5,
 13.566666666666698,
 13.6,
 14.0,
 14.9]

In [ ]:
# nunique() Practice:
#  Question 4: How many unique values are there in each column, excluding NULL values?
# Hint: Use nunique() on the entire DataFrame

# Question 5: Which column has the most unique values (excluding NULL)?
# Hint: Use nunique() and idxmax()

# Question 6: Compare the difference between unique() and nunique() for the 'rating' column.
# What's different about their outputs?

In [93]:
df.nunique()

fixed acidity            96
volatile acidity        143
citric acid              80
residual sugar           91
chlorides               153
free sulfur dioxide      60
total sulfur dioxide    144
density                 436
pH                       89
sulphates                96
alcohol                  65
quality                   6
dtype: int64

In [95]:
df.nunique().idxmax()

'density'

In [103]:
difference = df['alcohol'].unique() - df['alcohol'].nunique()
print(difference)

[-55.6        -55.2        -55.         -55.5        -54.5
 -55.8        -55.1        -55.9        -55.7        -56.
 -55.3        -54.9        -54.4        -55.4        -54.2
 -54.7        -51.9        -54.8        -54.1        -54.3
 -52.1        -54.6        -52.         -51.         -53.5
 -53.6        -52.6        -54.         -52.8        -52.2
 -52.4        -52.5        -53.3        -53.7        -52.7
 -53.         -53.1        -53.2        -56.3        -51.7
 -53.8        -53.4        -53.9        -51.6        -52.9
 -56.6        -52.3        -50.1        -51.8        -51.4
 -51.5        -54.96666667 -55.45       -56.5        -53.93333333
 -55.43333333 -54.45       -56.2        -51.43333333 -53.05
 -55.05       -55.76666667 -55.75       -55.95       -54.25      ]

In [104]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [ ]:
#Duplicates

In [ ]:
# Identify Duplicate Rows in a DataFrame:
# Use the duplicated() function to find all duplicate rows in the dataframe, considering all columns. 
#(Display the rows that are duplicates.)

In [106]:
df.duplicated()

0       False
1       False
2       False
3       False
4        True
        ...
1594    False
1595    False
1596     True
1597    False
1598    False
Length: 1599, dtype: bool

In [ ]:
#Drop Functions

In [111]:
# Drop Rows or Columns:
# a) Drop the row with index 2 from the dataset.

# b) Drop the column 'quality' from the dataset.

In [112]:
df.drop(2, axis = 0, inplace=False)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
5,7.4,0.660,0.00,1.8,0.075,13.0,40.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [115]:
df.drop('quality', axis =1, inplace=False)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0

In [ ]:
# 2. Value Checking with isin():
# a) Create a list of ['7.8', '9.8'] and check if the values in the 'alcohol' column match any value in the list.

# b) Check if the 'quality' column contains the values ['5', '6'].

# c) Check if the alcohol column contains any of the following values: 7.4, 9.4, 10.0.

In [121]:
df['alcohol'].isin([7.9,9.8])

0       False
1        True
2        True
3        True
4       False
        ...
1594    False
1595    False
1596    False
1597    False
1598    False
Name: alcohol, Length: 1599, dtype: bool

In [122]:
df['quality'].isin([5,6])

0       True
1       True
2       True
3       True
4       True
        ...
1594    True
1595    True
1596    True
1597    True
1598    True
Name: quality, Length: 1599, dtype: bool

In [123]:
df['alcohol'].isin([7.4,9.4,10.0])

0        True
1       False
2       False
3       False
4        True
        ...
1594    False
1595    False
1596    False
1597    False
1598    False
Name: alcohol, Length: 1599, dtype: bool

In [ ]:
# Value Checking with between():
# a) Check if the values in the 'alcohol' column are between 7.0 and 9.0 (inclusive).

# b) Check if the values in the 'sulphates' column are between 0.5 and 1.0 (exclusive).

# c) Check if the values in the 'citric acid' column are between 0.0 and 0.5 (inclusive

In [126]:
df['alcohol'].between(7.0,9.0, inclusive='both')

0       False
1       False
2       False
3       False
4       False
        ...
1594    False
1595    False
1596    False
1597    False
1598    False
Name: alcohol, Length: 1599, dtype: bool

In [131]:
df['sulphates'].between(1.0, 5.0, inclusive='neither')

0       False
1       False
2       False
3       False
4       False
        ...
1594    False
1595    False
1596    False
1597    False
1598    False
Name: sulphates, Length: 1599, dtype: bool

In [132]:
df['citric acid'].between(0.0,0.5, inclusive='both')

0        True
1        True
2        True
3       False
4        True
        ...
1594     True
1595     True
1596     True
1597     True
1598     True
Name: citric acid, Length: 1599, dtype: bool

In [ ]:
# 1. Convert Data Types:
# a) Convert the 'fixed acidity' column to integer type (e.g., int).
# b) Convert the 'quality' column to category type, as it has a limited number of unique values.
# c) Convert the 'alcohol' column to integer type (round off the decimal points).
df['column_name'] = df['column_name'].astype(new_type)

In [134]:
df['fixed acidity'] = df['fixed acidity'].astype(int)
print(df.dtypes)

fixed acidity             int64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
dtype: object

In [139]:
df['quality'] = df['quality'].astype('category')
print(df.dtypes)

fixed acidity              int64
volatile acidity         float64
citric acid              float64
residual sugar           float64
chlorides                float64
free sulfur dioxide      float64
total sulfur dioxide     float64
density                  float64
pH                       float64
sulphates                float64
alcohol                  float64
quality                 category
dtype: object

In [140]:
df['aclohol'] = df['alcohol'].astype(int)
print(df.dtypes)

fixed acidity              int64
volatile acidity         float64
citric acid              float64
residual sugar           float64
chlorides                float64
free sulfur dioxide      float64
total sulfur dioxide     float64
density                  float64
pH                       float64
sulphates                float64
alcohol                  float64
quality                 category
aclohol                    int64
dtype: object

In [ ]:
#  Replace Specific Values:
# a) Replace all occurrences of the value 0.00 in the 'citric acid' column with 0.1.
# b) Replace the value 0.9978 in the 'density' column with 0.9985.

In [142]:
# df.replace(['Jane', 'Jack'], ['Janet', 'Jackson'], inplace=True)

df['citric acid'].replace([0.00, 0.01], inplace=False)

0       0.00
1       0.00
2       0.04
3       0.56
4       0.56
        ...
1594    0.08
1595    0.10
1596    0.13
1597    0.12
1598    0.47
Name: citric acid, Length: 1599, dtype: float64

In [49]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [51]:
df['citric acid'].replace(0.00,None)

0       None
1       None
2       0.04
3       0.56
4       None
        ...
1594    0.08
1595     0.1
1596    0.13
1597    0.12
1598    0.47
Name: citric acid, Length: 1599, dtype: object

In [59]:
df['quality'].replace({5 : 'Low, 6 : High'})

0       Low, 6 : High
1       Low, 6 : High
2       Low, 6 : High
3                   6
4       Low, 6 : High
            ...
1594    Low, 6 : High
1595                6
1596                6
1597    Low, 6 : High
1598                6
Name: quality, Length: 1599, dtype: object

In [60]:
df[df['alcohol'] > 10]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
9,7.5,0.500,0.36,6.1,0.071,17.0,102.0,0.99780,3.35,0.80,10.5,5
11,7.5,0.500,0.36,6.1,0.071,17.0,102.0,0.99780,3.35,0.80,10.5,5
16,8.5,0.280,0.56,1.8,0.092,35.0,103.0,0.99690,3.30,0.75,10.5,7
30,6.7,0.675,0.07,2.4,0.089,17.0,82.0,0.99580,3.35,0.54,10.1,5
31,6.9,0.685,0.00,2.5,0.105,22.0,37.0,0.99660,3.46,0.57,10.6,6
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [65]:
df['pH'].mean()

3.3111131957473416

In [66]:
df['quality'].unique()

array([5, 6, 7, 4, 8, 3])

In [ ]:
# Replace Specific Values
# Replace all rows where quality equals 5 with Low Quality.
# Replace all rows where quality equals 6 with High Quality

In [67]:
df['quality'].replace({5 : 'Low Quality'})

0       Low Quality
1       Low Quality
2       Low Quality
3                 6
4       Low Quality
           ...
1594    Low Quality
1595              6
1596              6
1597    Low Quality
1598              6
Name: quality, Length: 1599, dtype: object

In [69]:
df['quality'].replace({6 : 'High Quality'})

0                  5
1                  5
2                  5
3       High Quality
4                  5
            ...
1594               5
1595    High Quality
1596    High Quality
1597               5
1598    High Quality
Name: quality, Length: 1599, dtype: object

In [ ]:
# Replace Values Based on Conditions
# Replace all values in the alcohol column that are less than 10 with Below Average.
# Replace all values in the pH column that are greater than 3.5 with High pH.

In [74]:
df['pH'].replace(df['pH'] > 3.5)

0       3.51
1        3.2
2       3.26
3       3.16
4       3.51
        ...
1594    3.45
1595    3.52
1596    3.42
1597    3.57
1598    3.39
Name: pH, Length: 1599, dtype: object

In [78]:
df['alcohol'].apply(lambda x : 'Below Average' if x < 10 else x )

0       Below Average
1       Below Average
2       Below Average
3       Below Average
4       Below Average
            ...
1594             10.5
1595             11.2
1596             11.0
1597             10.2
1598             11.0
Name: alcohol, Length: 1599, dtype: object

In [79]:
df.dtypes

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
dtype: object

In [82]:
df['fixed acidity'] = df['fixed acidity'].astype(int)

In [84]:
df['fixed acidity'] = df['fixed acidity'].astype(float)

In [85]:
df.dtypes

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
dtype: object

In [87]:
df['alcohol'] = pd.to_numeric(df['alcohol'], errors='coerce')

In [88]:
##Value Replacement

In [ ]:
# Replace missing values in pH with the mean:

In [ ]:
df['pH'] = df['pH'].fillna(df['pH'].mean())

In [ ]:
# Replace missing values in pH with the sum:

In [89]:
df['pH'] = df['pH'].fillna(df['pH'].sum())

In [ ]:
# Replace low-quality wines (quality < 5) with "Low" and others with "High"

In [90]:
df['quality'] = df['quality'].apply(lambda x : 'Low' if x < 5 else 'High')

In [95]:
df = df.rename(columns={'fixed acidity': 'fixed_acidity', 'volatile acidity' : 'volatile_acidity'})
print(df)

      fixed_acidity  volatile_acidity  citric acid  residual sugar  chlorides  \
0               7.0             0.700         0.00             1.9      0.076
1               7.0             0.880         0.00             2.6      0.098
2               7.0             0.760         0.04             2.3      0.092
3              11.0             0.280         0.56             1.9      0.075
4               7.0             0.700         0.00             1.9      0.076
...             ...               ...          ...             ...        ...
1594            6.0             0.600         0.08             2.0      0.090
1595            5.0             0.550         0.10             2.2      0.062
1596            6.0             0.510         0.13             2.3      0.076
1597            5.0             0.645         0.12             2.0      0.075
1598            6.0             0.310         0.47             3.6      0.067

      free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                    11.0                  34.0  0.99780  3.51       0.56
1                    25.0                  67.0  0.99680  3.20       0.68
2                    15.0                  54.0  0.99700  3.26       0.65
3                    17.0                  60.0  0.99800  3.16       0.58
4                    11.0                  34.0  0.99780  3.51       0.56
...                   ...                   ...      ...   ...        ...
1594                 32.0                  44.0  0.99490  3.45       0.58
1595                 39.0                  51.0  0.99512  3.52       0.76
1596                 29.0                  40.0  0.99574  3.42       0.75
1597                 32.0                  44.0  0.99547  3.57       0.71
1598                 18.0                  42.0  0.99549  3.39       0.66

      alcohol quality
0         9.4    High
1         9.8    High
2         9.8    High
3         9.8    High
4         9.4    High
...       ...     ...
1594     10.5    High
1595     11.2    High
1596     11.0    High
1597     10.2    High
1598     11.0    High

[1599 rows x 12 columns]

In [97]:
df = df.rename(columns={'fixed_acidity' : 'fixed acidity', 'volatile_acidity': 'volatile acidity'})
print(df)

      fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0               7.0             0.700         0.00             1.9      0.076
1               7.0             0.880         0.00             2.6      0.098
2               7.0             0.760         0.04             2.3      0.092
3              11.0             0.280         0.56             1.9      0.075
4               7.0             0.700         0.00             1.9      0.076
...             ...               ...          ...             ...        ...
1594            6.0             0.600         0.08             2.0      0.090
1595            5.0             0.550         0.10             2.2      0.062
1596            6.0             0.510         0.13             2.3      0.076
1597            5.0             0.645         0.12             2.0      0.075
1598            6.0             0.310         0.47             3.6      0.067

      free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                    11.0                  34.0  0.99780  3.51       0.56
1                    25.0                  67.0  0.99680  3.20       0.68
2                    15.0                  54.0  0.99700  3.26       0.65
3                    17.0                  60.0  0.99800  3.16       0.58
4                    11.0                  34.0  0.99780  3.51       0.56
...                   ...                   ...      ...   ...        ...
1594                 32.0                  44.0  0.99490  3.45       0.58
1595                 39.0                  51.0  0.99512  3.52       0.76
1596                 29.0                  40.0  0.99574  3.42       0.75
1597                 32.0                  44.0  0.99547  3.57       0.71
1598                 18.0                  42.0  0.99549  3.39       0.66

      alcohol quality
0         9.4    High
1         9.8    High
2         9.8    High
3         9.8    High
4         9.4    High
...       ...     ...
1594     10.5    High
1595     11.2    High
1596     11.0    High
1597     10.2    High
1598     11.0    High

[1599 rows x 12 columns]

In [98]:
#renaming

In [ ]:
# Rename 'citric acid' to 'citric_acid' and 'residual sugar' to 'residual_sugar

In [112]:
df = df.rename(columns={'citric acid' : 'citric_acid', 'residual sugar' : 'residual_sugar'})
print(df)

      fixed acidity  volatile acidity  citric_acid  residual_sugar  chlorides  \
0               7.0             0.700         0.00             1.9      0.076
1               7.0             0.880         0.00             2.6      0.098
2               7.0             0.760         0.04             2.3      0.092
3              11.0             0.280         0.56             1.9      0.075
4               7.0             0.700         0.00             1.9      0.076
...             ...               ...          ...             ...        ...
1594            6.0             0.600         0.08             2.0      0.090
1595            5.0             0.550         0.10             2.2      0.062
1596            6.0             0.510         0.13             2.3      0.076
1597            5.0             0.645         0.12             2.0      0.075
1598            6.0             0.310         0.47             3.6      0.067

      free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                    11.0                  34.0  0.99780  3.51       0.56
1                    25.0                  67.0  0.99680  3.20       0.68
2                    15.0                  54.0  0.99700  3.26       0.65
3                    17.0                  60.0  0.99800  3.16       0.58
4                    11.0                  34.0  0.99780  3.51       0.56
...                   ...                   ...      ...   ...        ...
1594                 32.0                  44.0  0.99490  3.45       0.58
1595                 39.0                  51.0  0.99512  3.52       0.76
1596                 29.0                  40.0  0.99574  3.42       0.75
1597                 32.0                  44.0  0.99547  3.57       0.71
1598                 18.0                  42.0  0.99549  3.39       0.66

      alcohol quality
0         9.4    High
1         9.8    High
2         9.8    High
3         9.8    High
4         9.4    High
...       ...     ...
1594     10.5    High
1595     11.2    High
1596     11.0    High
1597     10.2    High
1598     11.0    High

[1599 rows x 12 columns]

In [113]:
df = df.rename(columns={'citric_acid' : 'citric acid', 'residual_sugar' : 'residualsugar'})
print(df)

      fixed acidity  volatile acidity  citric acid  residualsugar  chlorides  \
0               7.0             0.700         0.00            1.9      0.076
1               7.0             0.880         0.00            2.6      0.098
2               7.0             0.760         0.04            2.3      0.092
3              11.0             0.280         0.56            1.9      0.075
4               7.0             0.700         0.00            1.9      0.076
...             ...               ...          ...            ...        ...
1594            6.0             0.600         0.08            2.0      0.090
1595            5.0             0.550         0.10            2.2      0.062
1596            6.0             0.510         0.13            2.3      0.076
1597            5.0             0.645         0.12            2.0      0.075
1598            6.0             0.310         0.47            3.6      0.067

      free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                    11.0                  34.0  0.99780  3.51       0.56
1                    25.0                  67.0  0.99680  3.20       0.68
2                    15.0                  54.0  0.99700  3.26       0.65
3                    17.0                  60.0  0.99800  3.16       0.58
4                    11.0                  34.0  0.99780  3.51       0.56
...                   ...                   ...      ...   ...        ...
1594                 32.0                  44.0  0.99490  3.45       0.58
1595                 39.0                  51.0  0.99512  3.52       0.76
1596                 29.0                  40.0  0.99574  3.42       0.75
1597                 32.0                  44.0  0.99547  3.57       0.71
1598                 18.0                  42.0  0.99549  3.39       0.66

      alcohol quality
0         9.4    High
1         9.8    High
2         9.8    High
3         9.8    High
4         9.4    High
...       ...     ...
1594     10.5    High
1595     11.2    High
1596     11.0    High
1597     10.2    High
1598     11.0    High

[1599 rows x 12 columns]

In [ ]:
# Convert all column names to lowercase:

In [114]:
df.columns = df.columns.str.lower()
print(df.columns)

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residualsugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'ph', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

In [ ]:
# Replace spaces in column names with underscores (_):

In [116]:
df.columns = df.columns.str.replace(" ", "_")
print(df.columns)

Index(['fixed__acidity', 'volatile__acidity', 'citric__acid', 'residualsugar',
       'chlorides', 'free__sulfur__dioxide', 'total__sulfur__dioxide',
       'density', 'ph', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

In [ ]:
#Clipping

In [ ]:
# Ensure all alcohol values are between 8 and 14.

In [117]:
df['alcohol'] = df['alcohol'].clip(lower=8, upper=14)
print(df['alcohol'])

0        9.4
1        9.8
2        9.8
3        9.8
4        9.4
        ...
1594    10.5
1595    11.2
1596    11.0
1597    10.2
1598    11.0
Name: alcohol, Length: 1599, dtype: float64

In [122]:
df.head()

,fixed__acidity,volatile__acidity,citric__acid,residualsugar,chlorides,free__sulfur__dioxide,total__sulfur__dioxide,density,ph,sulphates,alcohol,quality
0,7.0,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,High
1,7.0,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,High
2,7.0,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,High
3,11.0,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,High
4,7.0,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,High

In [123]:
df['residualsugar'] = df['residualsugar'].clip(lower=2.0, upper=10.0)
print(df[['residualsugar']].head())

   residualsugar
0            2.0
1            2.6
2            2.3
3            2.0
4            2.0

In [ ]:
#Expansion

In [ ]:
# Create a new column in your wine dataset called density_alcohol_ratio by dividing density by alcohol.

In [125]:
df['density alcohol'] = df['density']/df['alcohol']
print(df['density alcohol'])

0       0.106149
1       0.101714
2       0.101735
3       0.101837
4       0.106149
          ...
1594    0.094752
1595    0.088850
1596    0.090522
1597    0.097595
1598    0.090499
Name: density alcohol, Length: 1599, dtype: float64

In [ ]:
# Add a new row with values:
# fixed acidity=7.0, volatile acidity=0.4, citric acid=0.3, residual sugar=2.5,
# chlorides=0.05, free sulfur dioxide=10, total sulfur dioxide=20, density=0.995, pH=3.2,
# sulphates=0.6, alcohol=11.0, quality=6.

In [133]:
df.columns = df.columns.str.replace("_", " ")
print(df.columns)

Index(['fixed  acidity', 'volatile  acidity', 'citric  acid', 'residualsugar',
       'chlorides', 'free  sulfur  dioxide', 'total  sulfur  dioxide',
       'density', 'ph', 'sulphates', 'alcohol', 'quality', 'density alcohol',
       'A', 'B', 'C'],
      dtype='object')

In [134]:
df.head()

,fixed acidity,volatile acidity,citric acid,residualsugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,ph,sulphates,alcohol,quality,density alcohol,A,B,C
0,7.0,0.70,0.00,2.0,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,High,0.106149,NaN,NaN,NaN
1,7.0,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,High,0.101714,NaN,NaN,NaN
2,7.0,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,High,0.101735,NaN,NaN,NaN
3,11.0,0.28,0.56,2.0,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,High,0.101837,NaN,NaN,NaN
4,7.0,0.70,0.00,2.0,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,High,0.106149,NaN,NaN,NaN

In [138]:
#Flattening

In [140]:
print(df.index)

RangeIndex(start=0, stop=1601, step=1)

In [141]:
df_reset = df.reset_index()
print(df_reset)

      index  fixed  acidity  volatile  acidity  citric  acid  residualsugar  \
0         0             7.0              0.700          0.00            2.0
1         1             7.0              0.880          0.00            2.6
2         2             7.0              0.760          0.04            2.3
3         3            11.0              0.280          0.56            2.0
4         4             7.0              0.700          0.00            2.0
...     ...             ...                ...           ...            ...
1596   1596             6.0              0.510          0.13            2.3
1597   1597             5.0              0.645          0.12            2.0
1598   1598             6.0              0.310          0.47            3.6
1599   1599             NaN                NaN           NaN            NaN
1600   1600             NaN                NaN           NaN            NaN

      chlorides  free  sulfur  dioxide  total  sulfur  dioxide  density    ph  \
0         0.076                   11.0                    34.0  0.99780  3.51
1         0.098                   25.0                    67.0  0.99680  3.20
2         0.092                   15.0                    54.0  0.99700  3.26
3         0.075                   17.0                    60.0  0.99800  3.16
4         0.076                   11.0                    34.0  0.99780  3.51
...         ...                    ...                     ...      ...   ...
1596      0.076                   29.0                    40.0  0.99574  3.42
1597      0.075                   32.0                    44.0  0.99547  3.57
1598      0.067                   18.0                    42.0  0.99549  3.39
1599        NaN                    NaN                     NaN      NaN   NaN
1600        NaN                    NaN                     NaN      NaN   NaN

      sulphates  alcohol quality  density alcohol    A    B     C
0          0.56      9.4    High         0.106149  NaN  NaN   NaN
1          0.68      9.8    High         0.101714  NaN  NaN   NaN
2          0.65      9.8    High         0.101735  NaN  NaN   NaN
3          0.58      9.8    High         0.101837  NaN  NaN   NaN
4          0.56      9.4    High         0.106149  NaN  NaN   NaN
...         ...      ...     ...              ...  ...  ...   ...
1596       0.75     11.0    High         0.090522  NaN  NaN   NaN
1597       0.71     10.2    High         0.097595  NaN  NaN   NaN
1598       0.66     11.0    High         0.090499  NaN  NaN   NaN
1599        NaN      NaN     NaN              NaN  5.0  8.0  11.0
1600        NaN      NaN     NaN              NaN  6.0  9.0  12.0

[1601 rows x 17 columns]